
/*When using node-sass the following command in the terminal 
sets a watcher to compile SCSS right away: $ node-sass -o css css -w*/

/*variables*/
$blue: #04a3f9;
$raleway: 'Raleway';
$borderColor: #dddddd;
$sansSerif: sans-serif;


.interestTable {

  h2 {
  	color: $blue;
  	font-size: 20px;
  	font-family: $raleway, $sansSerif;
  	} 
}

h1 {
  	color: $blue;
  	font-size: 40px;
  	font-family: $raleway, $sansSerif;
  	margin-left: 20px;
  } 

.blurb {
	color: $blue;
	font-family: $raleway, $sansSerif;
	font-size: 28px;
	margin-left: 20px;
}

table {
    font-family: $raleway, $sansSerif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid $borderColor;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: $borderColor;
}

.submitForm {

	padding: 40px;
	border: 1px solid black;
	width: 280px; 
	float:left; 
	height:400px; 
	margin:30px;
	font-family: $raleway, $sansSerif;

}

.submitButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 18px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.submitButton {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    font-family: $raleway, $sansSerif;
}

.submitButton:hover {
    background-color: #4CAF50;
    color: white;
}

.my-chart {
	float: left;
	margin-top: 50px;
	width: 800px;
	font-family: $raleway, $sansSerif;
}

.chart {
	width: 800px !important
}

/*navigation*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: $raleway, $sansSerif;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.comingSoon {
	font-family: $raleway, $sansSerif;
	padding: 20px;
	border: 2px solid #4CAF50;
	height: 400px;
	width: 400px;
	margin-left: 40px;
	margin-top: 40px
}




